**/*.md
**/.DS_Store
**/.env.*.local
**/.env.local
**/.env.local.php
**/.git/
**/.gitignore
**/.idea/
**/.php-cs-fixer.cache
**/.phpunit.cache/
**/compose*.yaml
**/docs/
**/Dockerfile
**/Makefile
**/node_modules/
**/public/assets/
**/tests/
**/var/
**/vendor/
